<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hidden-rows {
            display: none;
        }
    </style>
</head>
<body>
    <h1>View all the data here!</h1>
  
    <form action="/viewData" method="GET">

        <!--Show User Table-->
        <label><b>User Table:</b></label>
        <br><br>
        <table id="userTable" style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
            <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">User ID</th>
                <th style="text-align: left;">Time</th>
                <th style="text-align: left;">Age</th>
                <th style="text-align: left;">Gender</th>
                <th style="text-align: left;">Relationship Status</th>
                <th style="text-align: left;">Occupation Status</th>
                <th style="text-align: left;">Do you use social media?</th>
                <th style="text-align: left;">Average Daily Social Media Usage</th>
                <th style="text-align: left;">How often do you find yourself using Social media without a specific purpose?</th>
                <th style="text-align: left;">How often do you get distracted by Social media?</th>
                <th style="text-align: left;">Do you feel restless if you haven't used Social media in a while?</th>
                <th style="text-align: left;">How easily distracted are you?</th>
                <th style="text-align: left;">How much are you bothered by worries?</th>
                <th style="text-align: left;">Do you find it difficult to concentrate?</th>
                <th style="text-align: left;">How often do you compare yourself to others through the use of social media?</th>
                <th style="text-align: left;">How do you feel about these comparisons, generally speaking?</th>
                <th style="text-align: left;">How often do you look to seek validation from social media?</th>
                <th style="text-align: left;">How often do you feel depressed or down?</th>
                <th style="text-align: left;">How frequently does your interest in daily activities fluctuate?</th>
                <th style="text-align: left;">How often do you face issues regarding sleep?</th>
                <th style="text-align: left;">Location</th>
            </tr>
            </thead>
            <tbody id="userTableBody" style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < mydata.length; iCount++) { %>
                <tr>
                <td><%= mydata[iCount].userID %></td>
                <td><%= mydata[iCount].timestamp %></td>
                <td><%= mydata[iCount].age %></td>
                <td><%= mydata[iCount].gender %></td>
                <td><%= mydata[iCount].relationshipStatus %></td>
                <td><%= mydata[iCount].occupationStatus %></td>
                <td><%= mydata[iCount].socialMediaUsage %></td>
                <td><%= mydata[iCount].avgDailyTime %></td>
                <td><%= mydata[iCount].purpose %></td>
                <td><%= mydata[iCount].distracted %></td>
                <td><%= mydata[iCount].restless %></td>
                <td><%= mydata[iCount].easilyDistracted %></td>
                <td><%= mydata[iCount].worried %></td>
                <td><%= mydata[iCount].concentration %></td>
                <td><%= mydata[iCount].comparison %></td>
                <td><%= mydata[iCount].comparisonFeelings %></td>
                <td><%= mydata[iCount].validation %></td>
                <td><%= mydata[iCount].depression %></td>
                <td><%= mydata[iCount].interests %></td>
                <td><%= mydata[iCount].sleep %></td>
                <td><%= mydata[iCount].location %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <!--Button to expand rows-->
        <button onclick="toggleRows('userTable', 'userTableBody')">Show All Rows</button>

        <!-- Show User-Platform Table -->
        <!--
        <label><b>User-Platform Table:</b></label>
        <br><br>
        <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
            <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">User ID</th>
                <th style="text-align: left;">Platform Number</th>
            </tr>
            </thead>
            <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < mydata.length; iCount++) { %>
                <tr>
                <td><%= mydata[iCount].userID %></td>
                <td><%= mydata[iCount].platformNum %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        -->

        <!-- Show User-Organization Table -->
        <!--
        <label><b>User-Organization Table:</b></label>
        <br><br>
        <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
            <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">User ID</th>
                <th style="text-align: left;">Organization Number</th>
            </tr>
            </thead>
            <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < mydata.length; iCount++) { %>
                <tr>
                <td><%= mydata[iCount].userID %></td>
                <td><%= mydata[iCount].organizationNum %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        -->

        <!-- Show Platform Table -->
        <!--
        <label><b>Platform Table:</b></label>
        <br><br>
        <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
            <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">Platform Number</th>
                <th style="text-align: left;">Platform Name</th>
            </tr>
            </thead>
            <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < mydata.length; iCount++) { %>
                <tr>
                <td><%= mydata[iCount].platformNum %></td>
                <td><%= mydata[iCount].platformName %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        -->

        <!-- Show Organization Table -->
        <!--
        <label><b>Organization Table:</b></label>
        <br><br>
        <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
            <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">Organization Number</th>
                <th style="text-align: left;">Organization Name</th>
            </tr>
            </thead>
            <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < mydata.length; iCount++) { %>
                <tr>
                <td><%= mydata[iCount].organizationNum %></td>
                <td><%= mydata[iCount].organizationName %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        -->

    </form>

    <script>
        var rowsToShow = 10; // Set the number of rows to show initially
        var shownRowsCount = rowsToShow; // Initialize the count with the number of rows to show

        document.addEventListener('DOMContentLoaded', function() {
            var table = document.getElementById('userTable');
            var tbody = document.getElementById('userTableBody');

            // Initially hide rows beyond the initial count
            for (var i = rowsToShow; i < table.rows.length; i++) {
                var row = table.rows[i];
                if (row) {
                    row.style.display = 'none';
                }
            }
        });

        function toggleRows(tableId, tbodyId) {
            var table = document.getElementById(tableId);
            var tbody = document.getElementById(tbodyId);

            // Toggle the class to show/hide rows
            tbody.classList.toggle('hidden-rows');

            // Change the button text based on current state
            var button = document.querySelector('button');
            if (tbody.classList.contains('hidden-rows')) {
                button.innerText = 'Show All Rows';
            } else {
                button.innerText = 'Hide Rows';
            }

            // Show additional rows if expanding
            for (var i = shownRowsCount; i < table.rows.length; i++) {
                var row = table.rows[i];
                if (row) {
                    row.style.display = tbody.classList.contains('hidden-rows') ? 'none' : 'table-row';
                }
            }
        }
    </script>       

</body>
</html>